<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Send post request-->
    <form method="post" action="/admin/logout"><button type="submit">Logout</button></form>

    <h1>Welcome {{username}} to the secret page!</h1>
    <img src="https://imgs.search.brave.com/jsJZYE3-T8xYlwf9yMvVY7QSB4Tp33xSPaUuRjz2EzQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9naWZk/Yi5jb20vaW1hZ2Vz/L2hpZ2gvaG9tZWxh/bmRlci1naWYtZmls/ZS0xNTIxa2ItNDc4/Y3ljdGU0MzJzZzNo/MS5naWY.gif" alt="homelander">
</body>
</html>